<h1>Fotos del producto: <strong>{{ product.name }}</strong></h1>

{{>flash}}
<form action="/mongodb/product/photo/{{ product._id }}?_csrf={{ csrfToken }}" method="POST" enctype="multipart/form-data">

  <div class="form-group">
    <label for="photo">Foto</label>
    <input type="file" name="photo" id="photo" class="form-control">
  </div>
  <hr>
  <input type="submit" value="Enviar" class="btn btn-primary">
</form>

<hr>

<div class="row">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Foto</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {{#each photos }}
      <tr>
        <td style="width: 200px">
          <img src="/uploads/products/{{ this.name }}" alt="" width='200' height="200">
        </td>
        <td style="width: 50px; text-align: center">
          <a href="javascript:void(0);" onclick="confirmaAlert('Realmente desea eliminar este registro?', '/mongodb/product/photo/delete/{{ this.product_id }}/{{ this._id }}')"><i class="fas fa-trash"></i></a>
        </td>
      </tr>
      {{/each }}
    </tbody>
  </table>
</div>
