{{!-- <h1>Hola mundo</h1>
<hr>
<p>Hola: {{nombre}}</p>
<hr>
<h4>Ejemplo de partials</h4>
{{>example}}
<hr>
<h4>Variables local = {{example_local}}</h4>
<hr>

<h4>Condicionales</h4>
{{#if example_local }}
  <h5>Si existe variable local</h5>
{{/if}}

<h5>Ciclos</h5>
{{#each paises}}
  <li>{{ @index }} {{ this.nic }} | {{ this.nombre }}</li>
{{/each}}

<hr>
<h4>Helpers personalizados</h4>
{{#calculadora 12 34}}

{{/calculadora}} --}}

