<h1>WebPay de transfer</h1>
<ul>
    <li>VCI: <span>{{ webpay_petition.vci }}</span></li>
    <li>amount: <span>{{webpay_petition.amount}}</span></li>
    <li>status: <span>{{webpay_petition.status}}</span></li>
    <li>buy_order: <span>{{webpay_petition.buy_order}}</span></li>
    <li>session_id: <span>{{webpay_petition.session_id}}</span></li>
    <li>card_detail: <span>{{webpay_petition.card_detail.card_number}}</span></li>
    <li>accounting_date: <span>{{webpay_petition.accounting_date}}</span></li>
    <li>transaction_date: <span>{{webpay_petition.transaction_date}}</span></li>
    <li>authorization_code: <span>{{webpay_petition.authorization_code}}</span></li>
    <li>payment_type_code: <span>{{webpay_petition.payment_type_code}}</span></li>
    <li>response_code: <span>{{webpay_petition.response_code}}</span></li>
    <li>installments_number: <span>{{webpay_petition.installments_number}}</span></li>
</ul>